html {
      box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  body {
      font-family: "Playfair Display", "Times", serif;
      color: #626262;
      font-size: 14px;
      line-height: 24px;
  }
  .wrapper{
      width: 901px;
      margin: 0 auto;
  }

  /* site navigation */

  .site-navigation {
      font-size: 0;
      padding: 0;
      margin: 0;
      text-align: center;
      padding:74px 0 98px 0;
  }
  .site-navigation li {
      display: inline-block;
  }
  .site-navigation li:not(:last-child):not(:first-child) {
      margin-right: 98px;
  }
  .site-navigation li:first-child {
      margin-right:118px ;
  }
  .site-navigation li a:hover, 
  .site-navigation li a:focus{
    color: #6ecff3;
  }
  .site-navigation li a {
      font-size: 14px;
      text-align: center;
      color: #626262;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
  }
  /* information field */
  .intro-info {
      display: inline-block;
      font-size: 0;
  }
  .block-info {
    display: inline-block;
    width: 420px;
    height: 468px;
    
  }
  .block-info:nth-child(odd) {
    margin-right: 60px ;
  }
  .block-info:nth-child(-n+4) {
    margin-bottom: 136px;
  }
  .block-info:nth-child(n+5) {
    margin-bottom: 56px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
   .block-info img {
    height: 275px;
    width: 420px;
    padding-bottom: 30px;
   }
   .paragraf-info {
       margin: 0;
       font-family: "Ubuntu", "Arial", sans-serif;
       text-transform: uppercase;
       font-weight: 200;
       font-size: 14px;
       color: #c1c1c1;
       padding-bottom: 30px;
   }
   .block-info h2 {
       margin: 0;
       font-size: 30px;
       font-weight: 400;
       padding-bottom: 40px;
   }
   .block-info p:last-child {
       margin: 0;
       font-size: 14px;
   }
   /* button */
   .button {
    display: inline-block;
    padding:0 380px 70px 360px;
   }
   input[type="button"] {
       padding: 0;
       width: 164px;
       height: 58px;
       display: inline-block;
       background-color: #fff;
       border: 1px solid #626262;
       cursor: pointer;
   }
   input[value="Load more"] {
       text-align: center;
       font-family: "Playfair Display", "Times", serif;
       font-size: 20px;
       color: #626262;
   }
   input[type="button"]:hover,
   input[type="button"]:focus {
    color: #6ecff3;
   }


