
.main-title{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 210px;
  color: $white-color;
}
.main-title__title-text_style {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 700;
  font-family: $fontmontserrat;
  line-height: 1.5;
}
.main-title__title-span-text_style {
  font-family: $fontkaushan;
  font-weight: 500;
  line-height: 1.5;
  font-size: 30px;
  font-size: 24px;
}
.main-title__title_underline::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: $pink-color;
  margin: 0 auto;
  margin-top: 46px;
}

.main-title__title-text {
  font-size: 150px;
  margin-bottom: 120px;
  line-height: 140px;
}
.main-title__span-text {
  line-height: 70px;
  margin-bottom: 40px;
  font-size: 72px;
}

.main-title__button {
  padding:12px 28px ;
  border: 2px solid $white-color;
  background: initial;
  color: $white-color;
  text-transform: uppercase;
  font-family: $fontmontserrat;
  cursor: pointer;
}
.main-title__button:hover {
  background-color: $white-color;
  color:$blackcolor;
}